<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form action="" method="post">
        <input name="First name" placeholder="First name"/>
        <input name="Last name" placeholder="Last name"/>
        <input name="Business email" placeholder="Business email"/>
        <input name="Company name" placeholder="Company name"/>
        <input name="Phone" placeholder="Phone"/>
        <input name="Address" placeholder="Address"/>
        <input name="Country" placeholder="Country"/>
    </form>
</body>
</html>